Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
*~
configure
ltmain.sh
.deps/
Makefile
config.h
config.log
config.status
libtool
stamp-h1
.libs/
*.la
*.lo
manpage.links
manpage.log
manpage.refs
m4/
INSTALL
config.guess
config.sub
depcomp
install-sh
missing
